<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('비밀번호변경')}"></head>

<script th:src="@{/js/user_modify_pw.js(ver=1.0)}"></script>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">
    
    <div class="wrap wrap_7" th:if="${session.user != null}">
    
      <h1 class="title">비밀번호 변경하기</h1>
    
      <form id="frm_modify_pw" class="mt-5" method="post" th:action="@{/user/modifyPw.do}">
          
        <div class="row mb-2">
          <label for="pw" class="col-sm-3 col-form-label">비밀번호</label>
          <div class="col-sm-9"><input type="password" name="pw" id="pw" class="form-control"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-9 mb-3" id="msg_pw"></div>
        </div>
        
        <div class="row mb-2">
          <label for="pw2" class="col-sm-3 col-form-label">비밀번호 확인</label>
          <div class="col-sm-9"><input type="password" id="pw2" class="form-control"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-9 mb-3" id="msg_pw2"></div>
        </div>
        
        <div class="text-center mt-3">
          <input type="hidden" name="userNo" th:value="${session.user.userNo}">
          <button type="submit" class="btn btn-primary">비밀번호변경하기</button>
        </div>
        
      </form>
    
    </div>
    
    <div th:if="${session.user == null}">
      로그아웃되었습니다.
    </div>

  </div>
  
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>